/Design Patterns/001 - StrategyPattern/.vs
/Design Patterns/001 - StrategyPattern
/Design Patterns/002 - ObserverPattern/.vs
/Design Patterns/002 - ObserverPattern/ObserverPattern/.vs
Design Patterns/003 - DecoratorPattern/003 - DecoratorPattern/DecoratorPattern/.vs/DecoratorPattern/FileContentIndex/1ad9708d-1e26-4e30-b293-4f46bb75c57b.vsidx
/Design Patterns/003 - DecoratorPattern/003 - DecoratorPattern/DecoratorPattern/.vs/DecoratorPattern/FileContentIndex
/Design Patterns/003 - DecoratorPattern/003 - DecoratorPattern/DecoratorPattern/.vs/DecoratorPattern/FileContentIndex
/Design Patterns/003 - DecoratorPattern/003 - DecoratorPattern/DecoratorPattern/.vs
/Design Patterns/004 - DecoratorPattern/.vs/003 - DecoratorPattern/FileContentIndex
/Design Patterns/trash/004 - DecoratorPattern/004 - SimpleFactory/SimpleFactory/.vs/SimpleFactory/FileContentIndex
/Design Patterns/004 - DecoratorPattern/004 - DecoratorPattern/DecoratorPattern/.vs/DecoratorPattern/FileContentIndex
