/Design Patterns/001 - StrategyPattern/.vs
/Design Patterns/001 - StrategyPattern
/Design Patterns/002 - ObserverPattern/.vs
/Design Patterns/002 - ObserverPattern/ObserverPattern/.vs
Design Patterns/003 - DecoratorPattern/003 - DecoratorPattern/DecoratorPattern/.vs/DecoratorPattern/FileContentIndex/1ad9708d-1e26-4e30-b293-4f46bb75c57b.vsidx
/Design Patterns/003 - DecoratorPattern/003 - DecoratorPattern/DecoratorPattern/.vs/DecoratorPattern/FileContentIndex
/Design Patterns/003 - DecoratorPattern/003 - DecoratorPattern/DecoratorPattern/.vs/DecoratorPattern/FileContentIndex
/Design Patterns/003 - DecoratorPattern/003 - DecoratorPattern/DecoratorPattern/.vs
/Design Patterns/004 - DecoratorPattern/.vs/003 - DecoratorPattern/FileContentIndex
/Design Patterns/trash/004 - DecoratorPattern/004 - SimpleFactory/SimpleFactory/.vs/SimpleFactory/FileContentIndex
/Design Patterns/004 - DecoratorPattern/004 - DecoratorPattern/DecoratorPattern/.vs/DecoratorPattern/FileContentIndex
Design Patterns/006 - SingletonPattern/Singleton/.vs/Singleton/FileContentIndex/8ba2e3cf-b04c-4804-b51f-2eaa25685fcd.vsidx
/Design Patterns/006 - SingletonPattern/Singleton/.vs/SingletonPattern/FileContentIndex
Design Patterns/008 - FacadePattern/FacadePattern/.vs/FacadePattern/FileContentIndex/f78dbff4-e744-41f3-9d78-28d9b2b573d3.vsidx
Design Patterns/008 - FacadePattern/FacadePattern/.vs/FacadePattern/FileContentIndex/31e24fc7-6f25-4891-9457-7ab04a0ca73a.vsidx
Design Patterns/008 - FacadePattern/FacadePattern/.vs/FacadePattern/FileContentIndex/5664fd1c-2e8d-4c33-9ce9-1c8fb80876b6.vsidx
Design Patterns/008 - FacadePattern/FacadePattern/.vs/FacadePattern/FileContentIndex/ed8b4d72-4ea2-4c2f-b32c-f0ee135ae27a.vsidx
Design Patterns/009 - CommandPattern/CommandPattern/.vs/CommandPattern/FileContentIndex/0928ff35-8453-46f1-8332-f8efe01b7309.vsidx
Design Patterns/009 - CommandPattern/CommandPattern/.vs/CommandPattern/FileContentIndex/6acdb263-e876-420a-9188-13b8fac8fd77.vsidx
Design Patterns/009 - CommandPattern/CommandPattern/.vs/CommandPattern/FileContentIndex/572c439f-dcaf-47a3-a0e6-b90058fd2177.vsidx
Design Patterns/009 - CommandPattern/CommandPattern/.vs/CommandPattern/FileContentIndex/ba06b91a-0b4c-4b57-9b51-6e4826d0a67a.vsidx
Design Patterns/009 - CommandPattern/CommandPattern/.vs/CommandPattern/FileContentIndex/d4c29664-fff3-43dc-9db9-d038f2f27d58.vsidx
